<div class="grid-layout">
<app-window></app-window>
<app-menssage></app-menssage>


<app-image-wendigo></app-image-wendigo>
<div id="rectangulo">


    <div class="caja">WENDIGO 
        </div>
        <div class="caja1"> 
            Criaturas 🐉 Mitologicas</div>
    <div id="rectangulo1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLTrPzBL-OkdecP4U13S1NSjV0QUBftgkCRSiI7EOOZBhDBgUfpipB4XL2FAkP9cpR5c8&usqp=CAU" alt=""class="WEN">
        <h3 class="contexto">Las leyendas acerca del wendigo son numerosas. En varias historias, se cuenta que fue un gran cazador que se perdió en el bosque y que, por alimentarse con carne humana, fue castigado y se transformó en este monstruo con grandes manos con garras y muy ágil, que se alimenta de carne humana.</h3></div>
        

<app-head></app-head>
<div id="rectangulo2">

        <img src="assets/cabeza.png" alt=""class="cabeza"></div>
        


<app-trunk></app-trunk>

   
    <div id="rectangulo3">
        <img src="assets/tronco.png" alt=""class="torzo"></div>
        
<app-legs></app-legs>

    <div id="rectangulo4">
        <img src="assets/piernas.png" alt=""class="pierna"></div>
        
<app-feet></app-feet>

    
    <div id="rectangulo5">
        <img src="assets/pies.png" alt=""class="pies"></div>
        
    </div>
    </div>

    

